/* vars */

$images: "../images/";

/* fonts */

$manrope: 'Manrope', sans-serif;

$breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px,
);

/* container size/gap */

$container-gap: 20px;
$container-width: 1170px;

/* colors */

$white: #fff;
$black: #000;
$yellow: #F6CF00;
$dark-blue: #1E2E4A;
$red: #ff0000;

/* transitions */

$transition: 0.4s;
